<%-include('../layouts/adminHeader.ejs')%>
<%-include('../layouts/adminSidebar.ejs')%>

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Enter Coupon Details</h4>
                        <form action="/admin/submitCoupon" method="POST" onsubmit="return validateCouponForm()">
                            <% if (messages.error) { %>
                                <div class="alert alert-danger">
                                    <%= messages.error %>
                                </div>
                            <%}%>
                            
                            <div class="form-body">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-2">Coupon Code</label>
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <input type="text" class="form-control" id="couponCode" name="couponCode"
                                                        placeholder="Enter Coupon Code">
                                                    <div id="couponCodeContainer" class="text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-2">Discount</label>
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <input type="text" class="form-control" id="discount" name="discountAmount"
                                                        placeholder="Enter Discount">
                                                    <div id="discountContainer" class="text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-2">Min Amount</label>
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <input type="text" class="form-control" id="minAmount" name="minOrderAmount"
                                                        placeholder="Enter Min Amount">
                                                    <div id="minAmountContainer" class="text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-2">Description</label>
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <textarea class="form-control" rows="3" id="couponDescription" name="couponDescription"
                                                        placeholder="Text Here..."></textarea>
                                                    <div id="couponDescriptionContainer" class="text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-2">Start Date</label>
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <input type="date" class="form-control" id="startDate" name="startDate">
                                                    <div id="startDateContainer" class="text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-2">Expiry Date</label>
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <input type="date" class="form-control" id="expiryDate" name="expiryDate">
                                                    <div id="expiryDateContainer" class="text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="text-right">
                                    <button type="submit" class="btn btn-info">Submit</button>
                                    <button type="reset" class="btn btn-dark">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function validateCouponForm() {
        // Reset error messages
        resetValidation();

        // Get form inputs
        let couponCode = document.getElementById('couponCode').value;
        let discount = document.getElementById('discount').value;
        let minAmount = document.getElementById('minAmount').value;
        let couponDescription = document.getElementById('couponDescription').value;
        let startDate = document.getElementById('startDate').value;
        let expiryDate = document.getElementById('expiryDate').value;

        // Validate Coupon Code
        if (!couponCode.trim()) {
            displayError('couponCodeContainer', 'Coupon Code is required.');
            return false;
        }

        if (!validateNoSpaces(couponCode)) {
            displayError('couponCodeContainer', 'Coupon Code cannot contain blank spaces.');
            return false;
        }

        if(couponCode.length < 4) {
            displayError('couponCodeContainer', 'Coupon Code must have minimum 4 character.');
            return false;
        }

        // Validate Discount
        if (!discount.trim()) {
            displayError('discountContainer', 'Discount amount is required.');
            return false;
        }
        if (isNaN(discount) || discount <= 0) {
            displayError('discountContainer', 'Enter a valid discount amount.');
            return false;
        }

        // Validate Min Amount
        if (!minAmount.trim()) {
            displayError('minAmountContainer', 'Minimum Amount is required.');
            return false;
        }

        if (isNaN(minAmount) || minAmount <= 0)  {
            displayError('minAmountContainer', 'Enter a valid minimum amount.');
            return false;
        }

        if (minAmount <= discount)  {
            displayError('minAmountContainer', 'Minimum amount should be greater than discount amount.');
            return false;
        }

        // Validate Coupon Description
        if (!couponDescription.trim()) {
            displayError('couponDescriptionContainer', 'Coupon Description is required.');
            return false;
        }

        if(couponDescription.length < 10) {
            displayError('couponDescriptionContainer', 'Coupon Description must have minimum 10 character.');
            return false;
        }

        // Validate Start Date
        if (!startDate.trim()) {
            displayError('startDateContainer', 'Start Date is required.');
            return false;
        }

        // Validate Expiry Date
        if (!expiryDate.trim()) {
            displayError('expiryDateContainer', 'Expiry Date is required.');
            return false;
        }

        if (startDate > expiryDate) {
            displayError('expiryDateContainer', 'Expiry Date should be after start  date.');
            return false;
        }

        // If all validations pass, return true
        return true;
    }

    function validateNoSpaces(inputValue, inputId) {
        // Use a regular expression to check for spaces
        let spaceRegex = /\s/;
        return !spaceRegex.test(inputValue);
    }

    function resetValidation() {
        // Reset error messages
        let containers = ['couponCodeContainer', 'discountContainer', 'minAmountContainer',
                          'couponDescriptionContainer', 'startDateContainer', 'expiryDateContainer'];

        containers.forEach(function(container) {
            document.getElementById(container).innerHTML = '';
        });
    }

    function displayError(containerId, errorMessage) {
        // Display error message in the specified container
        document.getElementById(containerId).innerHTML = errorMessage;
    }
</script>

<%-include('../layouts/adminFooter.ejs')%>