<%-include('../layouts/header.ejs')%>

<div class="container fluid">
    <div class="container fluid ">
        <div class="row">
            <div class="col-sm-6">
                <img src="/assets/images/furnit-logo.png" alt="Furnit Logo" width="150">
            </div>
            <div class="col-sm-6 text-right mt-2">
                <h1>INVOICE</h1>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6">
            <div class="container-fluid mt-1">
                <div class="container-fluid mt-1 mb-1">
                <h3>BILLED TO:</h3>
                
                    <p>
                        Imani Olowe<br>
                        +123-456-7890<br>
                        63 Ivy Road, Hawkville, GA, USA 31036
                    </p>
                </div>
                
            </div>
            
        </div>
        
        <div class="col-sm-6 text-right">
            <div class="container-fluid mt-1">
                <p>
                    <div class="container-fluid mt-1">
                        Invoice No. 12345<br>
                        16 June 2025
                    </div>
                    
                </p>
            </div>
            
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-12 container-fluid">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center"><strong>Item</strong></th>
                            <th class="text-center"><strong>Quantity</strong></th>
                            <th class="text-center"><strong>Unit Price</strong></th>
                            <th class="text-center"><strong>Total</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <!-- <th colspan="3"><strong>Subtotal</strong></th> -->
                            <td colspan="3"><strong>Subtotal</strong></td>
                            <td><strong>$500</strong></td>
                        </tr>
                        <tr>
                            <td colspan="3"><strong>Discount</strong></td>
                            <td><strong>$50</strong></td>
                        </tr>
                        <tr>
                            <td colspan="3"><strong>Total</strong></td>
                            <td><strong>$500</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <div class="col-sm-6">
                    <h3>PAYMENT INFORMATION</h3>
                    <p>
                        Briard Bank<br>
                        Account Name: Samira Hadid<br>
                        Account No.: 123-456-7890
                    </p>
                </div>
                <div class="col-sm-6 text-right">
                    
                </div>
            </div>
        </div>
    </div>
    
    

    <div class="container-fluid text-center mt-2">
        <div class="row">
            <div class="col-sm-12">
                <h4>Thank you for shopping with FurnIt!</h4>
            </div>
        </div>
    </div>
    
</div>


<%-include('../layouts/footer.ejs')%>