<%-include('../layouts/header.ejs')%>
<%-include('../layouts/navbar.ejs')%>

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Payment Policy</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <br>
                    <p>At FurnIt, we want to ensure a smooth and secure shopping experience for our customers. Please read the following payment policy carefully before making a purchase:</p>
                    <br>
                    <!-- Include your payment policy content here -->
                    <h5>Accepted Payment Methods:</h5>
                    <p>We accept the following payment methods:</p>
                    <ol>
                        <li> * Credit Card (Visa, MasterCard, American Express, Discover)</li>
                        <li> * Debit Card</li>
                        <li> * PayPal</li>
                        <li> * Apple Pay</li>
                        <li> * Google Pay</li>
                        <li> * Bank Transfer (Wire Transfer)</li>
                    </ol>
                    
                    <h5>Payment Security</h5>
                    <ol>
                        <li>* All online payments are processed securely using industry-standard encryption technologies to protect your personal and financial information.</li>
                        <li>* We do not store your credit card information on our servers after the transaction is completed.</li>
                    </ol>
                    <h5>Currency</h5>
                    <ol>
                        <li>* All transactions on our website are processed in India Rupee (₹). Prices displayed on our website are in Indian Rupee unless otherwise specified.</li>
                    </ol>
                    <!-- <h5>Refunds and Returns</h5>
                    <h5>Payment Policy Updates</h5> -->
                    <br>
                    <p>By making a purchase on our website, you agree to comply with our payment policy and terms of service.</p>
                    <p>If you have any questions or concerns regarding our payment policy, please contact our customer support team for assistance.</p><br>
                    <p>Thank you for shopping at FurnIt!</p>
                </div><!-- End .col-md-8 offset-md-2 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div>
</main>

<%-include('../layouts/footbar.ejs')%>
<%-include('../layouts/footer.ejs')%>